header{
    background-color: blue;
    height: 200px;
    position: relative;
}
nav{
    background-color: black;
    height: 100px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section{
    background-color: red;
    height: 200px;

}
.parte1{
    background-color: brown;
}
.parte2{
    background-color: lightcoral;
}
footer{
    background-color: yellow;
    height: 200px;
}